
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navBar1{
    left:10%;
    margin: 20px;
    width: 80%;
    margin: 0 auto;
}
.navBar1 ul{
    list-style: none;
    text-align: center;
    
}
.navBar1 li:hover{
  opacity: 0.5;
}
.item{
    
    display: inline-block;
    color:  #95a7c1;
    margin: 30px;
}
.Item_1{
    position: relative;

    right: 12%;
    
  }
  .Item_9{
    position: relative;
    left: 15%;

    border-radius: 5px;
  }
  #hideMe{
    padding: 5px 15px;
    color: #00b9d2;
    background-color: white;
    border: 1px solid #00b9d2;
    border-radius: 5px;
}
.content1{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.introduteParent{
    width: 30%;
}
.introdute{
    font-family: 'Times New Roman', Times, serif;
    text-wrap: wrap;
}
#btnDowload{
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    border: 0;
    background-color: #06bcd4;
    color: white;
    border-radius: 4px;
}

.fa-pen{
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 6px;
    position: fixed;
    bottom: 80%;
    text-align: center;
}
.Personal-Details{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding-bottom: 50px; 
   
}
.Personal-Details div{
    flex-basis: 30%;
}
  .Personal-Details span {
    color: #95a7c1;
    padding-left: 8px;
  }
  .Personal-Details i {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    color: #919fc2;
  }
.codeLanguges{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.Otem {
    margin: 10px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
  }
.Otem img{
    width: 40px;
    height: 100%; 
    float:left; 
    padding: 0 5px;
}
.messAge{
    margin: 50px 0;
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #fafbfd;
    background-image: url(./testi-pet.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;

}
.messAge ::placeholder {
    color: #7283ba;
  }
  #form-email{
    display: flex;
  }
 
.email {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #f1f6fa;
    padding-left: 10px;
    flex-grow:2;

}
#btn-send{
    border-radius: 10px;
    border: 0;
    background-color: #172d51;
    color: white;
    position: absolute;
    left: 190px;
    height: 35px;
    top: 2.25px;
    padding: 0 10px;
}
.navBar2 {
  width: 70%;
  margin: 0 auto;
}
.navBar2 li {
  display: inline-block;
  padding: 20px;
 
}
.navBar2 li:hover {
  border-bottom: 1px solid #00b7d1;
}
.section2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 width: 80%;
 margin: 0 auto;
  border-top: 1px dotted rgba(154, 151, 151, 0.452);
  padding-bottom: 50px;
}

.section2 div {
  
  margin: 10px;
}
.Project {
  text-align: center;

}
.Project p {
  margin: 0 auto;
}

.Prj {
  box-shadow: 0 0 20px -2px rgba(192, 177, 177, 0.2);
  flex-basis: 25%;
  padding:20px;
}
.pj {
  display: flex;
  
}
a {
  color: #74859f;
      text-decoration: none;
  }
.Prj span {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #eaf2ff;
  color: #7fadff;
}
.inTouch{
  background-color: #f1f6fa; height: 700px; padding: 50px;
}
table{
  padding: 20px;
}

form input{
  border-radius: 5px;
  border: 1px solid #788ABF;
  height: 30px;
  width: 300px;
  
}
form textarea{
  border-radius: 5px;

  width: 204%;
  border: 1px solid #788ABF;}
  form ::placeholder{
      padding-left: 10px;
      color: #788ABF;
  }

th, td{
  padding: 5px;
}
th{
  text-align: left;
}
.div6{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  margin: auto;
}
.div7{
  background-color: #1E3050;
  color: #728095;
  display: flex;
  justify-content: space-around;
}
.div7 td,th{
  padding: 15px;
}
footer{
  background-color: #1e3050;
      color: #728095;
      display: flex;
      justify-content: space-around;
}
#Btn-Sentmess{min-width: 80px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  background-color: #06bcd4;
  color: white;
  border-radius: 4px;
}
#imgID{
  width: 20px; 
  text-align: center; 
  border-radius: 20px;
}
